@(audioLink: String)

<script lang="text/javascript">
	$(document).ready(function() {
		audio.init();
	});
</script>

<style>
	.controls {
		margin-right: 4px;
		width:50px;
	}
	
	.progress {
		cursor:pointer;
	}
	
	.progress-bar {
		width: 0%;
	}
	
	.bar {
		width: 100%;
	}
	
	div.center {
		text-align: center;
	}
	
	#zoomLevelWarning {
		opacity: 0;
	}
</style>

<div class="IvPlayer">
	<audio id="interViewerAudio" preload="auto" src="@(routes.Statements.getAudio())?interviewId=@(audioLink)">
	  Sorry, but your Browser does not support HTML5 audio which is required to use the InterViewer.
	</audio>
	
	<div class="center" id="zoomLevelWarning">
		<span class="label label-warning"></span>
	</div>
	
	
	<div id="tracktime" class = "scroll">
		<span id = "lowerTime" class="lowerTime pull-left">00:00</span>
		<span id="upperTime" class="upperTime pull-right" value="0">00:00</span>
	</div>
	<br />
	<div id="progressBarContainer" class="progress progress-amber">
		<div class="progress-bar" id="progressBar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
			<span class="sr-only">0% Complete</span>
			<div class="bar"><span id = "showCurrentTime" class="showCurrentTime">00:00</span></div>
		</div>
	</div>	
	<button type="button" class="btn btn-default controls" id="audioPlayButton" disabled>
		<span id="playBtn" class="glyphicon glyphicon-play"></span>
	</button>
	<button type="button" class="btn btn-default controls" onclick="audio.returnSec();" disabled>
		<span class="glyphicon glyphicon-backward"></span>
	</button>
	<button type="button" class="btn btn-default controls" onClick="audio.zoomIn();" disabled>
		<span class="glyphicon glyphicon-plus"></span>
	</button>
	<button type="button" class="btn btn-default controls" onClick="audio.zoomOut();" disabled>
		<span class="glyphicon glyphicon-minus"></span>
	</button>
</div>
